In [6]:
list1= [2, 3, 6]
x=1
for i in range (len(list1)):
    x=x*list1[i]
print(x)

36

In [10]:
List = [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
def tri(T):
    e=T[1]
    return (e)
List.sort(key=tri)
print(List)

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [5]:
def myFunc(e):
    return len(e)
cars = ['Ford', 'Mitsubishi', 'BMW', 'VW']
cars.sort(key=myFunc)
print(cars)

['VW', 'BMW', 'Ford', 'Mitsubishi']

In [9]:
L = [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
L.sort(key=lambda x:x[1])
print(L)

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [14]:
d3={}
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}
for key in d1.keys():
    if key in d2.keys():
        d3[key]=d1[key]+d2[key]
    else:
        d3[key]=d1[key]
for key in d2.keys():
    if key not in d1.keys():
        d3[key]=d2[key]
print(d3)

{'a': 400, 'b': 400, 'c': 300, 'd': 400}

In [21]:
E=int(input("Enter the number : "))
D={}
for i in range (1,E+1):
    D[i] = i*i 
print (D)

Enter the number : 3
{1: 1, 2: 4, 3: 9}

In [24]:
M= [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]
def r(W):
    h=float(W[1])
    return (h)
M.sort(reverse=True,key=r)
print(M)

[('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]

In [27]:
N= [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]
N.sort(reverse=True, key=lambda y:float(y[1]))
print(N)

[('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]

In [ ]:
my_set = set()
k=int(input('Enter the len of your set :'))
for h in range(k):
    e=str(h+1)
    g=int(input("Enter the "+e+" number:"))
    my_set.add(g)
print(my_set,end=' ')
def iter():
    for q in my_set:
        print (q,end=' ')
iter()
s=input("Press a to add or d to delete item from the set press any key to exit : ")
x=10
for t in range (0,x):
    if s=='a'or (s=='d' and my_set==set()):
        d=int(input("please enter te number you want to add : "))
        my_set.add(d)
        print("your new set is : ",my_set,end=' ')
        iter()
        x=x+1
        s=input("Press a to add or d to delete item from the set press any key to exit : ")
    elif s=='d' and not my_set==set():
        print ("your set is : ",my_set,end=' ') 
        k=int(input("please enter the item you want to remove : "))
        my_set.remove(k)
        print("your new set is : ",my_set,end=' ')
        iter()
        x=x+1
        s=input("Press a to add or d to delete item from the set press any key to exit : ")
    else:
        quit()

Enter the len of your set :1
Enter the 1 number:2
{2} 2