In [9]:
#Exercice 1
import pandas as pd
import numpy as np
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data,index=labels)
print(df.head(3))

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes

In [10]:
#Exercice 2
f=df.shape[0]
n=f-2
for i in range (n):
    if pd.isna(df.score[i])==True:       
        df=df.drop(df.index[i])
        n=n-1      
    else:
        pass
print(df)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [11]:
#Exercice 3
df_n=df[["name","score"]]
print(df_n)

        name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
e      Emily    9.0
f    Michael   20.0
g    Matthew   14.5
i      Kevin    8.0
j      Jonas   19.0

In [12]:
#Exercice 4
new_dict = {'name': ['Suresh'],'score': [15.5],'attempts': [1],'qualify': ['yes']}
df2= pd.DataFrame(new_dict,index=["k"])
df_T=pd.concat([df,df2])
df_T
df3=df_T.drop("attempts", axis=1)
print(df3)

        name  score qualify
a  Anastasia   12.5     yes
b       Dima    9.0      no
c  Katherine   16.5     yes
e      Emily    9.0      no
f    Michael   20.0     yes
g    Matthew   14.5     yes
i      Kevin    8.0      no
j      Jonas   19.0     yes
k     Suresh   15.5     yes

In [13]:
#Exercice 5
df_T.insert(4, "Success", [0,0,0,0,0,0,0,0,0], True)
for e in range (df_T.shape[0]):
    if df_T.iloc[e, 1] <10:
        df_T.iloc[e, 4]= 0
    else:
        df_T.iloc[e, 4]= 1
print(df_T)

        name  score  attempts qualify  Success
a  Anastasia   12.5         1     yes        1
b       Dima    9.0         3      no        0
c  Katherine   16.5         2     yes        1
e      Emily    9.0         2      no        0
f    Michael   20.0         3     yes        1
g    Matthew   14.5         1     yes        1
i      Kevin    8.0         2      no        0
j      Jonas   19.0         1     yes        1
k     Suresh   15.5         1     yes        1

In [14]:
#Exercice 6
df_T.to_csv('score.csv')